@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div ng-show="isShared" class="alert alert-warning">
    <b>@Html.Resource("ThisContentIsShared")</b> @Html.Resource("SharedContentWarning")
</div>

<textarea id="editor"
          style="height: 340px;"
          kendo-editor
          ng-model="properties.Content.PropertyValue"
          k-tools="[
            'formatting',
            'bold', 'italic', 'underline',
            'justifyLeft', 'justifyCenter', 'justifyRight',
            'insertUnorderedList', 'insertOrderedList', 'indent',
            'createLink',
            {
                name: 'openImageSelector',
                template: '<button class=\'k-button\' onclick=\'openImageSelector();\'>Insert image</button>'
            },
            'createTable'
    ]">
</textarea>

<sf-image-selector-modal id="imageSelector"></sf-image-selector-modal>

<script type="text/javascript">

    var openImageSelector = function () {
        var editor = $('#editor').data('kendoEditor');
        angular.element('#imageSelector').scope().open(editor.selectedHtml());
    };

    $('#imageSelector').on('imageSelected', function (ev, arg) {
        var editor = $('#editor').data('kendoEditor');
        editor.paste(arg);
    });    

</script>